*.html
docco
lib-cov
node_modules
module
lib/parser.js
lib/common.gvpr

# GENERAL
#---------------------------------------------------------------------
$RECYCLE.BIN/
*.*~
*.log
*.pid
*.un~
*~
.\#*
.*.sw[a-z]
.\#*
._*
.directory
.DS_Store
.elc
.Spotlight-V100
.Trashes
/.emacs.desktop
/.emacs.desktop.lock
\#*\#
auto-save-list
Desktop.ini
log
logs
Session.vim
temp
Thumbs.db
tmp
tramp
